.full-modal {
  @import "../common-styles/schedule-scrollbar";

  .ant-modal-body {
    position: relative;
  }

  .react-resizable {
    overflow: auto;
    position: unset;
  }

  .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 20px;
    background-position: bottom right;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
  }

  .resizable-box {
    padding: 20px;
  }
}